Source: elliptics-2.10
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: debhelper (>= 7), autotools-dev, libssl-dev, eblob (>= 0.10.2), libboost-dev, libboost-program-options-dev, libboost-filesystem-dev, libtar-dev
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/elliptics

Package: elliptics-2.10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eblob (>= 0.10.2)
Replaces: elliptics
Provides: elliptics
Description: Distributed hash table storage
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dbg-2.10
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},  eblob-dbg (>= 0.10.2)
Replaces: elliptics-dbg
Provides: elliptics-dbg
Description: Distributed hash table storage
 Elliptics network is a fault tolerant distributed hash table object storage.
