Source: elliptics
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends: debhelper (>= 7.0.50~),
               cdbs,
               eblob (>= 0.17.8),
               libboost-dev,
               libboost-program-options-dev,
               libboost-iostreams-dev,
               libboost-thread-dev,
               python-dev (>= 2.6),
               python-central,
               libboost-python-dev,
               libcocaine-common1,
               libcocaine-dev (< 0.10),
               smack (>= 0.5.0),
               cmake (>= 2.6),
               libboost-system-dev,
               libltdl-dev,
               libleveldb-dev
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/elliptics
XS-Python-Version: >= 2.6

Package: elliptics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eblob (>= 0.17.8), elliptics-client, smack (>= 0.5.0), cocaine-generic-slave, libcocaine-core1
Replaces: elliptics-2.10, srw
Provides: elliptics-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: elliptics-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (includes)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics (>= ${Source-Version})
Replaces: elliptics-dbg-2.10, srw-dbg
Provides: elliptics-dbg-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (debug files)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dev
Architecture: any
Depends: elliptics (>= ${Source-Version})
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (includes)
 Elliptics network is a fault tolerant distributed hash table object storage.

