Source: elliptics
Section: net
Priority: optional
Maintainer: Evgeniy Polyakov <zbr@ioremap.net>
Build-Depends:	cdbs,
		cmake (>= 2.6),
		debhelper (>= 7.0.50~),
		eblob (>= 0.21.26),
		libboost-dev,
		libboost-iostreams-dev,
		libboost-program-options-dev,
		libboost-python-dev,
		libboost-system-dev,
		libboost-thread-dev,
		libboost-filesystem-dev,
		libcocaine-core2,
		libcocaine-dev (>= 0.11.2.1),
		cocaine-framework-native-dev (>= 0.11.0.1),
		libltdl-dev,
		libmsgpack-dev,
		python-central,
		python-dev (>= 2.6),
Standards-Version: 3.8.0
Homepage: http://www.ioremap.net/projects/elliptics
XS-Python-Version: >= 2.6

Package: elliptics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, eblob (>= 0.21.26), elliptics-client (= ${Source-Version}), libcocaine-core2
Replaces: elliptics-2.10, srw
Provides: elliptics-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: elliptics-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (client library)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: libcocaine-plugin-elliptics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics-client (= ${Source-Version})
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (cocaine plugin)
 Elliptics network is a fault tolerant distributed hash table object storage.
 
Package: libcocaine-plugin-elliptics-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cocaine-framework-native-dev (>= 0.10.6.0)
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (cocaine plugin includes)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, elliptics (= ${Source-Version}) | elliptics-client (= ${Source-Version})
Replaces: elliptics-dbg-2.10, srw-dbg
Provides: elliptics-dbg-2.10
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (debug files)
 Elliptics network is a fault tolerant distributed hash table object storage.

Package: elliptics-dev
Architecture: any
Depends: elliptics-client (= ${Source-Version})
XB-Python-Version: >= 2.6
Description: Distributed hash table storage (includes)
 Elliptics network is a fault tolerant distributed hash table object storage.

