#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_EXTRA_FLAGS := --prefix=/usr

DEB_DH_STRIP_ARGS := --dbg-package=elliptics-dbg

binary-post-install/elliptics-client::
	rm debian/elliptics-client/usr/bin/dnet_ioserv
